*.png
*.pycache
*.pyc
*.csv

*.pth
*__pycache__
*.ipynb_checkpoints
vit_model/.ipynb_checkpoints/main-checkpoint.py
vit_model/.ipynb_checkpoints/train-checkpoint.py
.ipynb_checkpoints/

*.log
vit_base_model/results
shell_scripts/nih_cxr.*
shell_scripts/nih_cxr_gpu.*
vit_base_model/config.py
shell_scripts/
